
body
{
margin: 0;
text-align: center;
}


.top-container{
  background-color: #dddddd;
  margin: 0;
  padding-left: 10px;
  padding-top: 100px;
}


.middle-container{

margin: 100px auto 300px auto;
margin-bottom: 100px;

}


.bottom-container{
  padding-bottom: 50px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:left;
  line-height: 2;
}
.zerowy{
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
}

.pierwszy{
  font-family: 'Andika New Basic', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}


  .drugi{
    padding-top: 70px;

  }
  .chmura-gorna{

  position: relative;
  left: 200px
  }

  .chmura-dolna{
  position: absolute;
  }

  .koszykarz{
    width: 25%;
    float: right;
    margin: 30px 15 300px auto;
  }

  .skils{
    width: 30%;
    float: left;
    margin: auto 0 auto auto;
  }
  .bottom-container{
    background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 15px;

    }

.footer-link{
  font-size: 25px;
  padding-right: 10px;
  font-family: 'Andika New Basic', sans-serif;
}

.contact-me{
  margin: auto auto 50px auto;
  line-height: 3;

}

.btn{
    color: #0099CC;
    background-image: linear-gradient(#126e82, #51c4d3);
    border: 10px solid black;

    border-radius: 15px;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    transition-duration: 1s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Andika New Basic', sans-serif;

}



h1
{
margin: 50px auto 0 auto;
 font-family: 'Andika New Basic', sans-serif;
 font-size: 5.9rem;
 color: #66BFBF;
 line-height: 2;

}

h2{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #66BFBF;
  font-weight: bold;
  font-size: 280%;

}



h3{
  font-family: 'Orbitron', sans-serif;
  color: #11999E;
}


a{
  color: #11999E;
}
hr
{
  border-width: 10px;
  border-style: none;
  border-top-style: dotted;
  border-color: #536162;
  width: 4%;
  margin: 100px auto 100px auto;
}
