
body
{
margin: 0;
text-align: center;
}
.top-container
{
  background-color: #dddddd;
  margin: 0px;
  padding-left: 10px;
  padding-top: 100px;

}
.middle-container{

}
.bottom-container
{

}

h1
{
margin-top: 0;
 font-family: 'Andika New Basic', sans-serif;
}
h2{
  font-family: 'Encode Sans Semi Expanded', sans-serif;

}
h3{
  font-family: 'Orbitron', sans-serif;
}
.pierwszy{
  font-family: 'Andika New Basic', sans-serif;
}

.chmura-gorna
{
position: relative;
left: 200px



}
.chmura-dolna
{
position: absolute;
}

.koszykarz{
  width: 200px;
  height: 200px;
}
.hobby{
  style=margin-left: 300px;
}
